<div class="container">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <% @repos.each do |repo| %>
      <%= render Repos::RepoComponent.new(repo: repo) %>
    <% end %>
  </div>
  <% if @pagy.pages > 1 %>
    <div class="my-3 flex justify-end">
      <%== pagy_nav @pagy %>
    </div>
  <% end %>
</div>
