<%= content_for :meta_title, "Repositories" %>

<div class="container" data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
  <div class="grid grid-cols-3 gap-4" data-infinite-scroll-target="entries">
    <%= render Repos::ListComponent.new(repos: @repos) %>
  </div>
  <div class="hidden" data-infinite-scroll-target="pagination">
    <%== pagy_nav @pagy %>
  </div>
  <div class="flex w-full hidden items-center justify-center my-4" data-infinite-scroll-target="loader">
    <i class="fad fa-spinner-third fa-spin fa-3x text-white"></i>
  </div>
</div>
