<%= content_for :meta_title, "Home" %>

<div class="container live-text pt-0"
     data-controller="styles markdown"
     data-action="styles-done->markdown#start markdown-done->styles#transition styles-transition-done->markdown#render markdown-rendered->styles#renderSuccess">
  <style id="style-tag" data-styles-target="style"></style>
  <div id="flex">
    <div id="markdown" data-markdown-target="markdown"></div>
    <pre id="style-text" data-styles-target="pre" data-action="keyup->styles#updateStyles" data-open-comment="false" contenteditable></pre>
  </div>
</div>
