<%= content_for :meta_title, "Home" %>

<div class="container live-text" data-controller="live-typing" data-live-typing-open-comment-value="false">
  <style id="style-tag" data-live-typing-target="styleTag"></style>
  <span id="echo"></span>
  <pre id="style-text" data-live-typing-target="styleText" contenteditable></pre>
</div>
