<div class="live-text pt-0">
  <style id="style-tag" data-styles-target="style" data-open-comment="false"></style>
  <div class="w-full flex align-top justify-between" id="flex">
    <pre class="w-50" id="style-text" data-styles-target="pre" data-action="keyup->styles#updateStyles" data-skip="false"></pre>
    <div class="w-50" id="markdown" data-markdown-target="markdown" data-styles-target="markdown"></div>
  </div>
</div>
