<%= content_for :meta_title, "Home" %>

<div class="container live-text" data-controller="live-typing" data-live-typing-open-comment-value="false">
  <style id="style-tag" data-live-typing-target="style"></style>
  <div id="flex">
    <div id="markdown"></div>
    <pre id="style-text" data-live-typing-target="pre" contenteditable></pre>
  </div>
</div>
