<%= content_for :meta_title, "Experiences" %>

<div class="container p-10 bg-white rounded shadow-lg">
  <div class="flex justify-between align-bottom">
    <div>
      <h1 class="uppercase mb-5">lucien george</h1>
      <h3 class="uppercase">fullstack developer</h3>
    </div>
    <div class="flex flex-col justify-end">
      <%= link_to User::GITHUB_URL do %>
        <span class="text-black"><i class="fab fa-github"></i> /lucien-george</span>
      <% end %>
      <%= link_to User::LINKEDIN_URL do %>
        <span class="text-black"><i class="fab fa-linkedin-in"></i> /luciengeorge</span>
      <% end %>
    </div>
  </div>
  <hr class="my-5">
  <div class="grid grid-cols-3">
    <div class="col-span-1">
      <h2 class="mb-3">Contact</h2>
    </div>
    <div class="col-span-2">
      <h2 class="mb-3">Experiences</h2>
      <div class="flow-root">
        <ul class="-mb-8">
          <% @experiences.each do |experience| %>
            <%= render Experiences::ExperienceComponent.new(experience: experience) %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
