<%= content_for :meta_title, "Experiences" %>

<div class="cv m-5">
  <%= render Experiences::CvComponent.new(experiences: @experiences, programming_languages: @programming_languages, spoken_languages: @spoken_languages, educations: @educations, download: true) %>
</div>
