<div class="px-7 py-3">
  <%= render Experiences::DownloadComponent.new(experiences: @experiences, programming_languages: @programming_languages, spoken_languages: @spoken_languages, educations: @educations, download: false) %>
</div>
