<% websites.each_with_index do |website, index| %>
  <div class="w-full h-full">
    <%= link_to website.url, target: :blank do %>
      <%= image_tag website.decorate.cover_url, alt: website.title, class: 'object-cover object-center w-full', loading: 'lazy' %>
      <div class="website-card--phone">
        <h3><%= website.title %></h3>
        <h4 class="font-light opacity-75"><%= website.description %></h4>
      </div>
    <% end %>
  </div>
<% end %>
