.link-icon {
  color: #f5f5f5;
  font-size: 30px;
  &:hover {
    color: $white;
  }
}

.menu {
  height: 0;
  z-index: 100;
  transform: translateX(-25%);
  top: 75px;
  overflow: hidden;
  @apply transition-all duration-500;
  &.active {
    height: 25vh;
  }
}

.nav-link {
  @apply text-white transform hover:scale-105 transition-all;
  &.active {
    border-bottom: 3px solid white;
    padding-bottom: 5px;
  }
}
