.link-icon {
  color: #f5f5f5;
  font-size: 48px;
  &:hover {
    color: $white;
  }
}

.menu-wrapper {
  @apply flex justify-center;
}

.menu {
  z-index: 100;
  @apply transition-all duration-500;
  @apply flex flex-col items-center justify-start absolute pt-4;
}

.nav-link {
  @apply text-white transform hover:scale-105 transition-all duration-500 m-12;
  @apply flex justify-center relative;
  &::after {
    content: '';
    width: 0;
    position: absolute;
    @apply bg-white;
    bottom: -5px;
    height: 3px;
    @apply transition-all duration-500;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
  &__home {
    transform: translateX(-50vw) translateY(-50vh);
  }
  &__websites {
    transform: translateX(50vw) translateY(-50vh);
  }
  &__resume {
    transform: translateX(-50vw) translateY(50vh);
  }
  &__repos {
    transform: translateX(50vw) translateY(50vh);
  }
  &__new-website {
    @apply col-span-1;
    transform: translateY(50vh);
  }
  &__home.active, &__websites.active, &__resume.active, &__repos.active, &__new-website.active {
    transform: translateX(0) translateY(0);
  }
}

.menu-ring {
  @apply ring-2 p-6 ring-transparent ring-offset-transparent rounded-full transition-all duration-500;
  &.active {
    box-shadow: 0 0 15px $white;
    @apply ring-white;
  }
}

.logo {
  width: 30px;
}
