.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 sm:py-5;
}

.flex-centered {
  @apply w-full h-full flex justify-center items-center;
}

.text-primary {
  color: $primary !important;
}

.max-height-70 {
  max-height: 70vh;
}

.shrink-down {
  animation: rotate 1s linear 1;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0) rotate(1800deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
