<% repos.each do |repo| %>
  <div data-controller="modal">
    <%= render Repos::RepoComponent.new(repo: repo) %>
    <%= render Repos::ContributorModalComponent.new(repo: repo, contributors: repo.contributors) %>
  </div>
<% end %>
