<% repos.each do |repo| %>
  <div data-controller="modal" class="repo--js py-0.5 w-full md:w-1/2 lg:w-4/12 mb-2">
    <%= render Repos::RepoComponent.new(repo: repo) %>
    <%= render Repos::ContributorModalComponent.new(repo: repo, contributors: repo.contributors) %>
  </div>
<% end %>
